body,menu,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}ul li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;} 

body{
	max-width: 1700px;
}
#wrapper{
	
}
header{
	background: url(img/bg21.jpg);
	min-height: 102px;
}
menu {
	float: right;
	overflow: hidden;
	margin-top: 16px;
}
menu li {
	display: inline;
	margin-right: 34px;
}
menu a {
	text-decoration: none;
	font-family: Arial;
	font-size: 16px;
	color:#ffffff;
	padding: 8px;
}
a:hover {
	background: #333333;
}
#slider {
	background: #eb4f4e;
	min-height: 635px;
}
h1 {
	font-family: Myriad Pro;
	font-size: 60px;
	color:#ffffff;
	text-align: center;
	padding: 46px 0 6px;
}
h2 {
	font-family: Myriad Pro;
	font-size: 40px;
	color:#ffffff;
	text-align: center;
	padding-top: 35px;
}

#logo {
	margin: auto;
	padding-top: 20px;
	max-width: 960px;
	min-height: 62px;
	overflow: hidden;
}
.li {
	margin-right: 0 !important;
}
#ico {
	background: url(img/bg_ico.jpg);
	overflow: hidden;
}
section {
	margin: auto;
	max-width: 1000px;
	min-height: 250px;
}
figure {
	text-align: center;
	width: 250px;
	height: 206px;
	margin- top: 32px;
	float: left;
}
figcaption h3 {
	font-family: Myriad Pro;
	font-size: 30px;
	color:#ffffff;
}

footer {
	min-height: 48px;
	background: #333333;
	overflow: hidden;
}
#header {
	width: 168px;
	//height: 62px;
	float: left;
}
#header img {
	float: left;
	margin-right: 10px;
}
#team {
	background: url(img/bg_team.jpg);
	min-height: 515px;
	overflow: hidden;
}
#team h3 {
	font-family: Myriad Pro;
	font-size: 25px;
	color:#66cc66;
	text-align: center;
	padding-top: 204px;
}
#avatar {
	margin: 38px auto 0;
	max-width: 960px;
	min-height: 343px;
}
.follow {
	background: url(img/bg_avat.png) no-repeat right 30px top 25px, url(img/shape.png) no-repeat;
	width: 225px;
	height: 342px;
	margin: 0 7px;
	float: left;
	position: relative;
}
.follow img {
	position: absolute;
	top: 36.5px;
    left: 40.3px;
}
#team .follow p {
	font-family: Myriad Pro;
	font-size: 18px;
	color:#cc3333;
	text-align: center;
	padding-bottom: 73px;
}
a .fol {
	position: absolute;
	top: 286px;
    left: 11px;
}
#team p {
		font-family: Myriad Pro;
	font-size: 20px;
	color:#333333;
	text-align: center;
	margin-top: 10px;
}
#header .motion {
	font-family: Myriad Pro;
	font-size: 35px;
	color:#ffffff;
}
#header .mot {
	font-family: Myriad Pro;
	font-size: 17px;
	color:#ffffff;
}
#ico p {
	font-family: Myriad Pro;
	font-size: 20px;
	color:#cc3333;
	text-align: center;
	margin-top: 10px;
}
#ico .fig {
	font-family: Myriad Pro;
	font-size: 18px;
	color:#cc3333;
}

.mo {
	font-family: Myriad Pro;
	font-size: 20px;
	color:#ffffff;
	text-align: center;
}
#copy {
	margin: auto;
	padding-top: 5px;
	max-width: 960px;
	min-height: 30px;
	overflow: hidden;
}
#copy h4 {
	font-family: Myriad Pro;
	font-size: 18px;
	color:#ffffff;
	padding-top: 7px;
	float: left;
}
#copy span {
	color:#cc3333;
}
#social {
	margin-top: 5px;
	float: right;
}
#social img {
	margin-left: 8px;
}

@media screen and (max-width: 754px) {
	menu {
		text-align: center;
	}
	#header, menu {
		float: none;
	}	
}
@media screen and (max-width: 577px) {
	menu li {
	display: block;
	margin-bottom: 10px;
	}
	.li {
		margin-right: 34px !important;
	}
}